<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default ng-table">
            <div class="panel-heading">
                <i class="fa fa-cogs"></i> Admin Panel
            </div>
            <div class="panel-body">
                <a href="/#/admin-banner/list" class="btn btn-default">
                    <i class="fa fa-list-alt fa-3x"></i>
                    <br> Banners
                </a>
                <a href="/#/admin-menu-home/list" class="btn btn-default">
                    <i class="fa fa-bars fa-3x"></i>
                    <br> Menú Home
                </a>
                <a href="/#/admin-page-internal/list" class="btn btn-default">
                    <i class="fa fa-file-text-o fa-3x"></i>
                    <br> Pág. Internas
                </a>
                <a href="/#/admin-footer/list" class="btn btn-default">
                    <i class="fa fa-list fa-3x"></i>
                    <br> Footer
                </a>
                <a href="/#/admin-news/list" class="btn btn-default">
                    <i class="fa fa-newspaper-o fa-3x"></i>
                    <br> Noticias
                </a>
                <a href="/#/admin-gallery/list" class="btn btn-default">
                    <i class="fa fa-picture-o fa-3x"></i>
                    <br> Galería
                </a>
                <a href="/#/admin-slider/list" class="btn btn-default">
                    <i class="fa fa-bookmark-o fa-3x"></i>
                    <br> Destacados
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>