<div class="container grupos-content">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">

        <div ng-controller="GroupMenu" ng-include="'group/menu'" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-users"></i> Grupo
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                        <div class="caption">
                                            <h1>Fanaticos del anime</h1>
                                            <p>
                                                <i class="fa fa-user"></i> 1234 
                                                <i class="fa fa-file-text-o"></i> 4
                                            </p>
                                            <p>Cras justo odio. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                            <p>
                                                <a href="#" class="btn btn-default" role="button">
                                                    <i class="fa fa-pencil-square-o"></i> Editar
                                                </a>
                                                <button class="btn btn-default" role="button">
                                                    <i class="fa fa-toggle-on"></i> Abandonar
                                                </button>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-comments-o"></i> Últimos comentarios
                                            </div>
                                            <div  class="list-group-item">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <a class="media-body">
                                                            <p>
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                                tempus viverra turpis... 
                                                            </p>
                                                            <h1 class="media-heading pull-right">Titulo del post</h1>
                                                        </a>
                                                    </li>
                                                    <li class="media">
                                                        <a class="media-body">
                                                            <p>
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                                tempus viverra turpis... 
                                                            </p>
                                                            <h1 class="media-heading pull-right">Titulo del post</h1>
                                                        </a>
                                                    </li>
                                                    <li class="media">
                                                        <a class="media-body">
                                                            <p>
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                                tempus viverra turpis... 
                                                            </p>
                                                            <h1 class="media-heading pull-right">Titulo del post</h1>
                                                        </a>
                                                    </li>
                                                    <li class="media">
                                                        <a class="media-body">
                                                            <p>
                                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                                tempus viverra turpis... 
                                                            </p>
                                                            <h1 class="media-heading pull-right">Titulo del post</h1>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <h1>Listado de miembros</h1>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" id="media-heading">
                                                Fulano de tal
                                            </h4>
                                            Me gusta jugar PS4
                                        </div>
                                        <div class="media-right">
                                            <a class="btn btn-info" href="#">
                                                Ver perfil
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" id="media-heading">
                                                Fulano de tal
                                            </h4>
                                            Me gusta jugar PS4
                                        </div>
                                        <div class="media-right">
                                            <a class="btn btn-info" href="#">
                                                Ver perfil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>