<div class="row muro-pattern no-padding">
    <div class="elmuro">GruPos</div>
</div>
<br/>
<div class="row">
    <div class="col-md-12 no-padding back-tabs">
        <ul class="nav nav-tabs nav-justified ">
            <li ng-class="{'active': currentMenu == 'index'}">
                <a href="/#/group" class="btn">
                    <i class="fa fa-newspaper-o"></i> Home
                </a>
            </li>
            <li ng-class="{'active': currentMenu == 'list'}">
                <a href="/#/group/list" class="btn">
                    <i class="fa fa-users"></i> Mis Grupos
                </a>
            </li>
            <li ng-class="{'active': currentMenu == 'new'}">
                <a href="/#/group/new" class="btn">
                    <i class="fa fa-child"></i> Crear Grupo
                </a>
            </li>
            <li ng-class="{'active': currentMenu == 'search'}">
                <a href="/#/group/search" class="btn">
                    <i class="fa fa-search"></i> Buscar
                </a>
            </li>
        </ul>
    </div>
</div>
<br/>
